{% extends 'base.html' %}

{% block title %}Bilfinger Timsheet App{% endblock title %}

{% block meta_description %}
{% endblock meta_description %}

{% block meta_keywords %}
{% endblock meta_keywords %}

{% block app_content %}

<p>{{ current_user.username }}</p>
{% if current_user.username == 'admin'%}
<div class="row my-2">
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
    <a href="/master-user/" class="btn btn-secondary btn-block"> Manage Users</a>
  </div>
  <div class="col-lg-3"></div>
</div>
<div class="row my-2">
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
    <a href="/master-project/" class="btn btn-secondary btn-block"> Manage Projects</a>
  </div>
  <div class="col-lg-3"></div>
</div>
<div class="row my-2">
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
    <a href="/master-tshtsetting/" class="btn btn-secondary btn-block"> Manage Time Sheet Formats</a>
  </div>
  <div class="col-lg-3"></div>
</div>
<div class="row my-2">
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
    <a href="/master-assignment/" class="btn btn-secondary btn-block"> Manage Assignments</a>
  </div>
  <div class="col-lg-3"></div>
</div>
{% endif %}

<div class="row my-2">
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
    <a href="/prjselect-timesheet/" class="btn btn-secondary btn-block"> Fill Timesheet </a>
  </div>
  <div class="col-lg-3"></div>
</div>

{% endblock app_content %}
