{% extends 'base.html' %}

{% block title %}Bilfinger Timsheet App{% endblock title %}

{% block meta_description %}
{% endblock meta_description %}

{% block meta_keywords %}
{% endblock meta_keywords %}

{% block app_content %}
<h1>{{current_user.username }}</h1>

<div class="row my-2">
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
    <div class="card ">
      <div class="p-1 my-1 card-body "">
        <div class="bg-secondary text-white p-100">
          <a href="/master-user/" class="btn btn-secondary stretched-link"> Manage Users</a>
        </div>
        </div>
    </div>
  </div>
  <div class="col-lg-3"></div>
</div>
<div class="row my-2">
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
    <div class="card ">
      <div class="p-1 my-1 card-body "">
        <div class="bg-secondary text-white p-100">
          <a href="/master-project/" class="btn btn-secondary stretched-link"> Manage Projects</a>
        </div>
        </div>
    </div>
  </div>
  <div class="col-lg-3"></div>
</div>
<div class="row my-2">
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
    <div class="card ">
      <div class="p-1 my-1 card-body "">
        <div class="bg-secondary text-white p-100">
          <a href="/master-tshtsetting/" class="btn btn-secondary stretched-link"> Manage Timesheet Formats</a>
        </div>
        </div>
    </div>
  </div>
  <div class="col-lg-3"></div>
</div>
<div class="row my-2">
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
    <div class="card ">
      <div class="p-1 my-1 card-body "">
        <div class="bg-secondary text-white p-100">
          <a href="/master-assignment/" class="btn btn-secondary stretched-link"> Manage Assignments</a>
        </div>
        </div>
    </div>
  </div>
  <div class="col-lg-3"></div>
</div>


{% endblock app_content %}
