{% extends 'base.html' %}

{% block title %}Bilfinger Timsheet App{% endblock title %}

{% block meta_description %}
{% endblock meta_description %}

{% block meta_keywords %}
{% endblock meta_keywords %}

{% block app_content %}
		<h1>Item Master Page</h1>
		{% if items %}
		<table class="table table-striped">
			<tr>
				<th>ID</th><th>Name</th><th>Description</th><th>Action</th>
			</tr>
			{% for item in items %}
			<tr>
				<td>{{item.id}}</td><td>{{item.name}}</td><td>{{item.description}}</td><td><a href="/detail-item/{{item.id}}/" class="btn btn-outline-primary">See Detail</a></td>
			</tr>
			{% endfor %}
		</table>
		{% endif %}
		<a href="/add-item/" class="btn btn-outline-primary" role="button">Add Item</a>
{% endblock %}
