{% extends "base.html" %}


{% block app_content %}


<div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
{%- if mode=='view' -%}
  <h1>Timesheet Format Detail Page</h1>
{%- elif mode=='add' -%}
  <h1>Timesheet Format Add Page</h1>
{%- elif mode=='edit' -%}
  <h1>Timesheet Format Update Page</h1>
{%- endif -%}

<form class="form" method="post" role="form">
  {%- if mode=='view' -%}
  <fieldset disabled='disabled'>
  {%- else -%}
  <fieldset>
  {%- endif -%}

  {{ form.hidden_tag() }}
  {%- if mode=='add' -%}
  <br/>
  {%- else -%}
    {{ render_field(form.id, readonly=True)}}
  {%- endif -%}

  {{ render_field(form.identifier)}}
  {{ render_field(form.description)}}
  <hr class="mt-5 mb-5" style="height:1px;border:none;color:#333;background-color:#333;" />
  {{ render_field(form.act_code_enable)}}
  {{ render_field(form.act_title)}}
  <hr class="mt-5 mb-5" style="height:1px;border:none;color:#333;background-color:#333;" />
  {{ render_field(form.wla_hrs_enable)}}
  {{ render_field(form.wla_code_enable)}}
  {{ render_field(form.wla_title)}}
  <hr class="mt-5 mb-5" style="height:1px;border:none;color:#333;background-color:#333;" />
  {{ render_field(form.wlb_hrs_enable)}}
  {{ render_field(form.wlb_code_enable)}}
  {{ render_field(form.wlb_title)}}
  <hr class="mt-5 mb-5" style="height:1px;border:none;color:#333;background-color:#333;" />
  {{ render_field(form.lv_hrs_enable)}}
  {{ render_field(form.lv_code_enable)}}
  {{ render_field(form.lv_title)}}
  <hr class="mt-5 mb-5" style="height:1px;border:none;color:#333;background-color:#333;" />
  {{ render_field(form.tra_hrs_enable)}}
  {{ render_field(form.tra_code_enable)}}
  {{ render_field(form.tra_title)}}
  <hr class="mt-5 mb-5" style="height:1px;border:none;color:#333;background-color:#333;" />
  {{ render_field(form.trb_hrs_enable)}}
  {{ render_field(form.trb_code_enable)}}
  {{ render_field(form.trb_title)}}
  <hr class="mt-5 mb-5" style="height:1px;border:none;color:#333;background-color:#333;" />
  {{ render_field(form.ot_hrs_enable)}}
  {{ render_field(form.ot_code_enable)}}
  {{ render_field(form.ot_title)}}
  <hr class="mt-5 mb-5" style="height:1px;border:none;color:#333;background-color:#333;" />
  {{ render_field(form.remarks_enable)}}
  {{ render_field(form.remarks_title)}}
  <hr class="mt-5 mb-5" style="height:1px;border:none;color:#333;background-color:#333;" />

  </fieldset>

  {% if mode=='view'%}
    <a href="/edit-tshtsetting/{{form.id.data}}/" class="btn btn-outline-primary" role="button">Edit</a>
    <a href="/delete-tshtsetting/{{form.id.data}}/" class="btn btn-outline-primary" role="button">Delete</a>
  {% elif mode=='add' %}
    <input type="submit" class="btn btn-outline-primary" value="Add"/>
  {% elif mode=='edit' %}
      <input type="submit" class="btn btn-outline-primary" value="Update"/>
  {% endif %}
  <a href="/master-tshtsetting/" class="btn btn-outline-primary" role="button">Back</a>
</form>

{% if error %}
<p style='color:red;'>{{error}}</p>
{% endif %}

</div>
<div class="col-lg-3"></div>
</div>
{% endblock %}
