{% extends 'base.html' %}

{% block title %}Bilfinger Timsheet App{% endblock title %}

{% block meta_description %}
{% endblock meta_description %}

{% block meta_keywords %}
{% endblock meta_keywords %}

{% block app_content %}
		<h1>Assignment Master Page</h1>
		{% if items %}
		<table class="table table-striped">
			<tr>
				<th>Project Number</th><th>Project Name</th><th>Employee No</th><th>Employee Name</th><th>Action</th>
			</tr>
			{% for item in items %}
			<tr>
				<td>{{item.project.number}}</td><td>{{item.project.name}}</td><td>{{item.user.employee_no}}<td>{{item.user.name}}</td><td><a href="/detail-assignment/{{item.id}}/" class="btn btn-outline-primary">See Detail</a>
				</td>
			</tr>
			{% endfor %}
		</table>
		{% endif %}
		<a href="/add-assignment/" class="btn btn-outline-primary" role="button">Add Assignment</a>
{% endblock %}
